/* the top of the page*/

.header {
    width: 641px;
    background-color: #524B58;
    color: gold;
    padding: 0px;
}
body {
   max-width:641px;
    background-color: black;
}
.face {

    background-image: url(../assets/bg.jpg);
    height: 680px;
    color: white;
}
.floating img {
    left: 0px;
    top: 0px;
    z-index: 3;
}
.floating {
    height: 200px;
    display: inline;
}
.large-2 {
    padding-top: 100px;
    float: left;
}
.large-2 {
    padding-top: 50px;
    float: left;
}
.right {
    padding-top: 100px;
    float: right;
}
.following{ float: right;
    padding-left: 70px;
}
.followers{
}
.footer {
    background-color: #565A69;
padding: 30px 30px;
}
.button-radius: 25px;

}
